body{
    background-color: rgb(255, 255, 255);}
body{
    color: rgb(0, 0, 0);}
>>>>>>> 38d4b63d3821611e99563a4facd6b4dd55ab6560

h1{text-align: center;}
h2{text-align: center;}
<<<<<<< HEAD
img alg
=======

ul{display: inline;}
ul{background-color: rgb(156, 156, 156);}
>>>>>>> 38d4b63d3821611e99563a4facd6b4dd55ab6560