body {
background-color: #c1d1ef;
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;}


  * {
box-sizing: border-box;}


h3 {
text-align: center;}


header {
background-color: #64879f;
padding: 10px;
text-align: center;
font-size: 18px;
color: rgb(255, 255, 255);}


p {
background-color: #d1d9e7;
padding: 20px;
font-size: 30px;
color: rgb(0, 0, 0);
float: left;
width: 45%;
margin-left: 2.5%;}


h5 {
background-color: #d1d9e7;
padding: 15px;
font-size: 30px;
color: rgb(0, 0, 0);
text-align: center;
width: 90%;
margin-left: 5%}


h4 {
background-color: #d1d9e7;
padding: 15px;
font-size: 20px;
color: rgb(0, 0, 0);
text-align: left;
width: 30%;
float: left;
margin-left: 10;}


h2 {
background-color: #d1d9e7;
padding: 15px;
font-size: 20px;
color: rgb(0, 0, 0);
text-align: left;
width: 30%;
float: right;
margin-right: 10;}


h1 {
text-shadow: 3px 3px rgb(0, 0, 0); text-align: center;
color: rgb(251, 251, 251);}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #202d46;}


ul li a {
display: block;
color: white;
text-align: center;
padding: 12px 16px;
text-decoration: none;}


ul li a:hover {
background-color: #111111;}


img {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;}


li a.active {
background-color: #111111;
color: white;}


.rechts1 {
background-color: #d1d9e7;
padding: 15px;
font-size: 23px;
color: rgb(0, 0, 0);
text-align: left;
width: 30%;
float: right;
margin-right: 10;
margin-top: -82%;}


.links1 {
background-color: #d1d9e7;
padding: 15px;
font-size: 23px;
color: rgb(0, 0, 0);
text-align: left;
width: 30%;
float: left;
margin-left: 10;
margin-top: -81%;} 


.link2 {
background-color: #d1d9e7;
color: #111111;
padding: 25px;
float: right;
margin-top: -350px;
font-size: 18px;
font-weight: 900;}


.rechts {
background-color: #d1d9e7;
padding: 15px;
font-size: 23px;
color: rgb(0, 0, 0);
text-align: left;
width: 30%;
float: right;
margin-right: 10;
margin-top: -58%;}


.links {
background-color: #d1d9e7;
padding: 15px;
font-size: 23px;
color: rgb(0, 0, 0);
text-align: left;
width: 30%;
float: left;
margin-left: 10;
margin-top: -57%;} 


.link1 {
background-color: #d1d9e7;
color: #111111;
padding: 25px;
float: right;
margin-top: -220px;
font-size: 18px;
font-weight: 900;}


.link3 {
background-color: #d1d9e7;
color: #111111;
padding: 25px;
float: left;
font-size: 18px;
font-weight: 900;
margin-left: 2,5%;
margin-top: -60px;}


.link5 {
background-color: #d1d9e7;
color: #111111;
float: left; 
margin-left:35px ;
padding: 30px;
font-size: 25px;
width: 46%;
height: 23%;
text-align: center;}


.link6 {
background-color: #d1d9e7;
color: #111111;
float: left; 
margin-left:35px ;
padding: 30px;
font-size: 25px;
width: 46%;
height: 23%;
text-align: center;}

